body {
  background-color: #f2c303;
  /* #f2c303 */
  /* #ffcd02 */
}
.boxlogo {
  margin: auto;
  width: 64px;
}
.logo {
  width: 64px;
  height: 64px;
}

.loading{
  width: 220px;
  height: 76px;
}

.boxloading{
  margin: auto;
  width: 220px;
}

.drop-box {
  margin-top: 30px;
  width: 100%;
  height: 160px;
  border: 3px dotted;
  border-color: rgb(243,152,0);
}
.drop-boxhover {
  margin-top: 30px;
  width: 100%;
  height: 160px;
  border: 3px dotted;
  background-color: #f2c303;
}

.password {
  width:100%;
}

.instructions {
  text-align: center;
  color: #31808f;
  margin-top: 60px;
}

.btnrestart {
  margin-top: 100px;
  text-align: center;
}
